@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Grenze+Gotisch:wght@100&family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap');

body {
  background-image: url('../images/bg.jpeg');
  background-size:100%;
  background-attachment: fixed;
  height:100%;
  width:100%;
  padding-top: 80px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-family: 'Sofia', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  background: #FFF821;
  background: linear-gradient(to bottom right, #FFF821 18%, #3BA19A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Caesar Dressing', system-ui;
  font-size: 50px;
  text-decoration: none;
}

.navbar a{
  position: relative;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  margin-left: 40px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}

.title {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 26px;
  z-index: 1;
}

.title h1 {
  font-size: 40px;
  color: #FFF8DC;
  font-family: 'Bungee Inline', sans-serif;
}

.title p{
  margin-top: 20px;
  color: #FFF8DC;
  font-family: 'Bungee Inline', sans-serif;
}

#dayAlert {
  display: none;
  padding: 15px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.subcontent {
  display: flex;
  justify-content: center;
  font-size: 25px;
  align-items: center;
  color: white;
  height: 90vh;
  font-family: 'Sulphur Point', sans-serif;
}

.subcontent li a {
  color: white;
  text-decoration: none;
}

.subcontent li a:hover {
  text-decoration: underline; /* Optional: Add underline on hover */
}

.subcontent ul {
    list-style-type: none;
    padding-left: 20px; /* Optional: Add some padding to adjust the distance between the square bullets and the text */
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 10px;
  color: white;
}

button {
  font-size: 16px;
  cursor: pointer;
}

:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

#dateTime {
  margin-top: 10px;
  font-size: 16px;
}

#resfoot {
  margin-left: 15em;  
}

.neon-button {
  font-family: 'DotGothic16', sans-serif;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
  left: -170px;
}


.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}